@tailwind base;
@tailwind components;
@tailwind utilities;
.alice-carousel__prev-btn{
  left: -20px;
  position: absolute;
  top: 25%;
  text-align: left !important;
  transform: translateY(50%);

}
.alice-carousel__next-btn{
  right: -20px;
  position: absolute;
  top: 25%;
  text-align: right !important;
  transform: translateY(50%);
}
span.main-title-inner{
    position: relative;
    display: inline-block;
    padding: 7px 0;
}
.main-title-inner::before {
    content: '';
    display: block;
    background: #7372aa;
    width: 95px;
    height: 2px;
    position: absolute;
    top: 0;
  }
  .main-title-inner::after {
    content: '';
    display: block;
    background: #7372aa;
    width: 95px;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .slidervh{
     @apply  h-slidersm lg:h-sliderlg;
  }
 









  