@tailwind base;
@tailwind components;
@tailwind utilities;
.lead_hover{
  line-height:100px ;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}


.nav-item:hover .dropdown-menus {
  opacity: 1;
  visibility: visible;
  transform: scaleX(1);
}
 .nav-item .dropdown-menus {
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);

  position: absolute;
  border: none;
  top: 100px;
  left: 0;
  width: 250px;
  z-index: 100000099;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  transition: all .2s ease-in-out;
  cursor: pointer;
  transform: scaleX(0);
}

span.main-title-inner{
    position: relative;
    display: inline-block;
    padding: 7px 0;
}
.main-title-inner::before {
    content: '';
    display: block;
    background: #7372aa;
    width: 95px;
    height: 2px;
    position: absolute;
    top: 0;
  }
  .main-title-inner::after {
    content: '';
    display: block;
    background: #7372aa;
    width: 95px;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .slidervh{
     @apply  h-slidersm lg:h-sliderlg;
  }
 









  