@tailwind base;
@tailwind components;
@tailwind utilities;
//.shadow_post::after{
 // content: "";
 // position: absolute;
 // top:0;
//  bottom: 0;
 // right: 0;
 // left: 0;
 // background: rgb(5,5,5);
 /// background: linear-gradient(0deg, rgba(5,5,5,0.8970938717283788) 0%, rgba(0,0,0,0.6617997540813201) 35%, rgba(0,0,0,0.04275213503370101) 100%);
//}
html,
body,
div#__next{
height: 100%;
}



.grids figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.grids figure figcaption, .grids figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.effect-oscar:hover figcaption::before, figure.effect-oscar:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-oscar figcaption::before, figure.effect-oscar p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}
figure.effect-oscar figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
}
.grids figure figcaption::before, .grids figure figcaption::after {
  pointer-events: none;
}
figure.effect-oscar:hover img {
  opacity: 0.4;
}
figure.effect-oscar img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.effect-oscar:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  text-shadow: 0 0 10px rgb(255 255 255 / 95%);
}
figure.effect-oscar:hover figcaption::before, figure.effect-oscar:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.grids figure {
  position: relative;
  float: left;
  overflow: hidden;
 
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}
figure.effect-oscar figcaption {
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.39);
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}
 figure figcaption,  figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
 figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
 figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
figure.effect-oscar figcaption::before, figure.effect-oscar p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

figure.effect-oscar {
  background: -webkit-linear-gradient(
45deg, #00001a 0%,#2c239e 40%,#02072d 100%);
  background: linear-gradient(
45deg, #00001a 0%,#2c239e 40%,#02072d 100%);
}
figure.effect-oscar h2 {
  margin: 20% 0 10px 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  text-shadow: 0 0 10px rgb(4 4 4 / 35%);
}
.nav_content_block::before{
  display: table;
    content: " ";
}
.effect-oscar div{
  display: block !important;
}

@media (max-width: '600px') {
  figure.effect-oscar figcaption {
    padding: 0em;
    background-color: rgba(0, 0, 0, 0.39);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
  }
  figure figcaption {
   padding: 0em; 
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
}










.singl_product_description ul li{
  list-style:  inside;
}
.lead_hover{
  line-height:100px ;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}


.nav-item:hover .dropdown-menus {
  opacity: 1;
  visibility: visible;
  transform: scaleX(1);
}
 .nav-item .dropdown-menus {
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);

  position: absolute;
  border: none;
  top: 100px;
  left: 0;
  width: 250px;
  z-index: 100000099;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  transition-delay: 2s;
  transition: all .2s ease-in-out;
  cursor: pointer;
  transform: scaleX(0);
}

span.main-title-inner{
    position: relative;
    display: inline-block;
    padding: 7px 0;
}
.main-title-inner::before {
    content: '';
    display: block;
    background: #7372aa;
    width: 95px;
    height: 2px;
    position: absolute;
    top: 0;
  }
  .main-title-inner::after {
    content: '';
    display: block;
    background: #7372aa;
    width: 95px;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .slidervh{
     @apply  h-slidersm lg:h-sliderlg;
  }
 









  