

.slider-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: 10px 20px;
  font-size: 24px;
}








.main-title-inner {
  background: #fff;
  padding: 0 20px;
}

.woo-next-cart-qty {
  input {
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 4px;
  }
}






@mixin transition {
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      transition: transform 1s #{$i * .08}s cubic-bezier(.29,1.4,.44,.96);
    }
  }
}

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}



ul {
 
  margin: 0;
  padding: 0;
}
$contrast:#ffffff;
$main: #ffffff;
$text: #414141;
/*$contrast: darken($main, 0%);*/
.msg {
  font-family: 'Pacifico', cursive;
  font-size: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  align-items: center;
  color: $text;
  background-color: $main;
}

.features {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  li {
    width: 100%;
    text-align: center;
    padding: .25em;
  }
}

.drawer-list {
  z-index: 100;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  transform: translate(100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 125px;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
  border-bottom-left-radius: 100vw;
 /* @include alpha-attribute('background-color', rgba($contrast, 1), white);*/
  @media (min-width: 768px) {
    width: 40vw;
  }
   /*ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    pointer-events: auto;
  }*/
  li {
    display: block;
   list-style: none;
    text-transform: uppercase;
    pointer-events: auto;
    white-space: nowrap;
    box-sizing: border-box;
    transform: translatex(100vw);
     /*ie workaround */
    -ms-transform: translatex(-100vw);
    &:last-child {
      
    }
    a {
      text-decoration: none;
   color: white;
      text-align: center;
    
      padding: 1rem;
     
      @media (min-width: 768px) {
        text-align: right;
        padding: .5rem;
      }
      &:hover {
        cursor: pointer;
        
       /* @include alpha-attribute('background-color', rgba($main, 0.5), white);*/
      }
    }
  }
}

input.hamburger {
  display: none;
  &:checked {
    & ~ .drawer-list {
       transform: translatex(0);
        border-bottom-left-radius: 0;
        li {
          transform: translatex(0);
          @include transition;
          a {
            padding-right: 15px;
          }
        }
    }
    & ~ label {
      > i {
        background-color: transparent;
        transform: rotate(90deg);
        &:before {
          transform: translate(-50%, -50%) rotate(315deg);
        }
        &:after {
          transform: translate(-50%, -50%) rotate(-315deg);
        }
      }
      .close {
        color: $text;
        width: 100%;
      }
      .open {
        color: rgba(0, 0, 0, 0);
        width: 0;
      }
    }
  }
}

label.hamburger {
  z-index: 9999;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  &:hover {
    cursor: pointer;
  }
  span {
    .close,
    .open {
      text-transform: uppercase;
      font-size: .8em;
    
      position: absolute;
      transform: translateY(50px);
      text-align: center;
      overflow: hidden;
      transition: width .25s .35s, color .45s .35s;
    }
    .close {
      color: rgba(177, 177, 177, 0);
      right: 0;
      width: 0;
    }
    .open {
      color: $text;
      width: 100%;
    }
  }
  > i {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background-color: $text;
    pointer-events: auto;
    transition-duration: .35s;
    transition-delay: .35s;
    &:before,
    &:after {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      left: 50%;
      background-color: $text;
      content: "";
      transition: transform 0.35s;
      transform-origin: 50% 50%;
    }
    &:before {
      transform: translate(-50%, -14px);
    }
    &:after {
      transform: translate(-50%, 14px);
    }
  }
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}











/**
    accordion
*/
//Primary Text colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(0, 0%, 100%);

// Background gradient:
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

//Neutral Text colors
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

//Dividers
$light-grayish-blue: hsl(240, 5%, 91%);
.show-description {
  background: #413f5d;
  height:2.5rem;
  margin-bottom: 0px;
  display: block;
}

/* Arrows */

/* closed */
.faq__question-button::after {
  transition: transform 300ms ease-out;
}

/* open */
.font-weight-bold::after {
  transform: rotate(720deg);
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: $light-grayish-blue;
  padding-top: 10px;
}
.attribution a {
  color: $soft-violet;
}
.component {
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
  background-color: #ffffff;
  /*background-image: url(../images/bg-pattern-desktop.svg);*/
  background-position: -565px -295px;
  background-repeat: no-repeat;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  display: flex;
}


.faq {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 80px;

  &__title {
    margin: 0;
    padding-bottom: 25px;
  }

  &__question {
    max-width: 350px;
    width: 100%;
    border-bottom: 1px solid $light-grayish-blue;
  }

  &__question-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;

    /*padding-top: 18px;
    padding-bottom: 18px;*/

    &::after {
      /*content: url(../images/icon-arrow-down.svg);*/
      margin-right: 17px;
      transform: rotate(90deg);
    }

    &:hover {
      color: $soft-red;
    }
  }

  &__desc {
   
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
    transition: all 200ms ease-out;
  }
}
@media only screen and (max-width: 800px) {
  .illustration__woman-desktop {
    max-width: 120%;
  }
}

@media only screen and (max-width: 700px) {
 

  .component {
    max-width: 327px;
   /* background-image: url(../images/bg-pattern-mobile.svg);*/
    background-position: top;
    flex-direction: column;
  }

  .illustration {
    &__box {
      display: none;
    }

    &__woman-desktop {
      display: none;
    }

    &__woman-mobile {
      display: block;
      margin: 0 auto;
      position: absolute;
      top: -105px;
      left: 12px;
    }
  }

  .faq {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 132px;
    padding-bottom: 48px;

    &__question {
      max-width: 279px;
    }

    &__question-button {
      
      font-size: 13px;
      line-height: 13px;

      &::after {
        padding-right: 0px;
      }
    }
  }
}


//*,
//*::before,
//*::after {
//  box-sizing: inherit;
//}



h1 {
  color: $very-dark-desaturated-blue;
  font-size: 32px;
  line-height: 32px;
}

button {
  color: $very-dark-grayish-blue;
  font-size: 14px;
  line-height: 14px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
/* Remove the focus indicator on mouse-focus for browsers that do support :focus-visible */
button:focus:not(:focus-visible) {
  outline: 0;
}

button:focus-visible {
  /* Draw a very noticeable focus style for
     keyboard-focus on browsers that do support
     :focus-visible */
  outline: 2px dashed $soft-red;
  outline-offset: 0px;
}

#root {
  width: 100%;
}

.container {
  max-width: 1440px;
  width: 100%;
}

.font-weight-bold {
  font-weight: 700;
}



